@using ForgetPasswordFlow1.Models
@model ForgetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = null;
}



@*//Added /changed by shahrukh khan Date 1-MARCH-2021 End Block*@
<style>
    .container {
        margin-top: 80px;
        align-content: center;
        text-align: center;
    }
</style>
@using (Html.BeginForm("ResetPassword", "PreLoginActivity", FormMethod.Post))
{
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/aes.min.js"></script>


    <script type="text/javascript">
        // ADDED CHANGE BY SHAHRUKH KHAN 08-MARCH-2021 START BLOCK PASSWORD ENCRYTION CODE IN JS CODE
        function crypt() {
            var password = document.getElementById("user-password");
            var key = CryptoJS.enc.Utf8.parse('8080808080808080');
            var iv = CryptoJS.enc.Utf8.parse('8080808080808080');

            var encryptedpassword = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(password), key,
                {
                    keySize: 128 / 8,
                    iv: iv,
                    mode: CryptoJS.mode.CBC,
                    padding: CryptoJS.pad.Pkcs7
                });
            document.getElementById("encrypted-password").value = encryptedpassword;
        }
    </script>
    // ADDED CHANGE BY SHAHRUKH KHAN 08-MARCH-2021 END BLOCK PASSWORD ENCRYTION CODE IN JS CODE
    <h5>@ViewBag.tokenMessage</h5>
    <section>
        <div class="container">
            <div class="row">
                <div class="card bg-light mx-auto" style="width:500px;height:400px;">
                    <article class="card-body">
                        <div>
                            <h4 class="card-title">Reset Your Password</h4>
                            <br />

                            <form>
                                

                                <br />
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    </div>
                                    <input type="hidden" id="encrypted-password" name="encryptedpassword" value="" />
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "New Password", name = "password", required = "required" })
                                </div>

                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    </div>
                                    <input name="confirmpassword" class="form-control" placeholder="Confirm New Password" type="password" required>
                                </div>
                                <br />
                                <div class="form-group input-group">
                                    <button type="submit" class=" btn btn-primary btn-block text-center text-bold" onclick="crypt();">Reset</button>
                                </div> <!-- form-group// -->
                                <div class="form-group input-group">
                                    <button type="button" class="btn btn-danger btn-block text-center" onclick="@("window.location.href='" + @Url.Action("Index", "Login") + "'");">Back to Login</button>
                                </div>
                            </form>
                        </div>
                    </article>
                </div>
            </div>
        </div>

    </section>


    <div>

        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">

            window.onload = function () {
                swal("Good job!", "@ViewBag.Message", "success", {
                    button: "Done",
                });
            };
            </script>

        }

    </div>



}


